@tailwind components;
@tailwind utilities;

/*** to hide scrollbar from cmd hop search box ***/
.cmdhop-box {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.cmdhop-box::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/*   tailwind base replacement */

#headlessui-portal-root [type='text']:focus,
#headlessui-portal-root textarea:focus,
#headlessui-portal-root select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

#headlessui-portal-root *,
::before,
::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

#headlessui-portal-root *,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
  --tw-content: '';
}

#headlessui-portal-root {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#headlessui-portal-root ol,
#headlessui-portal-root ul,
#headlessui-portal-root menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#headlessui-portal-root textarea {
  resize: vertical;
}

#headlessui-portal-root hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

#headlessui-portal-root h1,
#headlessui-portal-root h2,
#headlessui-portal-root h3,
#headlessui-portal-root h4,
#headlessui-portal-root h5,
#headlessui-portal-root h6 {
  font-size: inherit;
  font-weight: inherit;
}

#headlessui-portal-root a {
  color: inherit;
  text-decoration: inherit;
}

#headlessui-portal-root b,
#headlessui-portal-root strong {
  font-weight: bolder;
}

#headlessui-portal-root code,
#headlessui-portal-root kbd,
#headlessui-portal-root samp,
#headlessui-portal-root pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace; /* 1 */
  font-size: 1em; /* 2 */
}

#headlessui-portal-root small {
  font-size: 80%;
}

#headlessui-portal-root sub {
  bottom: -0.25em;
}

#headlessui-portal-root button,
#headlessui-portal-root input,
#headlessui-portal-root optgroup,
#headlessui-portal-root select,
#headlessui-portal-root textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

#headlessui-portal-root button,
#headlessui-portal-root select {
  text-transform: none;
}
